#biglietto {
    animation: psyco 1s linear infinite;
}

@keyframes psyco {
    0% {border: 2px dotted black;}
    50% {border: 2px dotted red;}
    100% {border: 2px dotted black;}
}

h1 {
    color: white;
}
