body {
    animation: psyco 1s linear infinite;
}

@keyframes psyco {
    0% {background-color: black;}
    50% {background-color: red;}
    100% {background-color: black;}
}

h1 {
    color: white;
}
